.hero-detail-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 60%;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-image-wrapper {
    display: block;
    min-width: 180px;
    max-width: 300px;
}

.card-form-wrapper {
    flex: 1;
}

.form-row {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;

    mat-form-field {
        flex: 1;
        min-width: 200px;
    }
}