<div class="hero-list-wrapper">
  <section class="hero-list-wrapper-grid">
    @for (hero of heroData; track hero._id) {
      <mindata-hero-card
        [hero]="hero"
        (deleteHero)="delete(hero)"
        class="hero-list-item"
      ></mindata-hero-card>
    }
  </section>

  <div class="hero-list-paginator">
    @if (paginationData !== undefined) {
      <div class="totalResults">
        Resultados: {{ paginationData.totalResults }}
      </div>
    }

    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="prevPage()"
      [disabled]="!paginationData.prevPage || loading"
    >
      Prev
    </button>

    <div class="currentPage">
      {{ paginationData.currentPage }}
    </div>

    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="nextPage()"
      [disabled]="!paginationData.nextPage || loading"
    >
      Next
    </button>
  </div>
</div>
